# COPY THIS FILE, NAME IT `dev.env`, remove this comment and replace the placeholder env values
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=<A DATABASE NAME>
SQL_USER=<AN USER>
SQL_PASSWORD=<A PASSWORD>
SQL_HOST=db
SQL_PORT=5432
POSTGRES_USER=<AN USER>
POSTGRES_PASSWORD=<A PASSWORD>
POSTGRES_DB=<A DATABASE NAME>
DATABASE=postgres
DJANGO_SETTINGS_MODULE="assessment_app.settings"
SECRET_KEY=<A SECRET KEY>
DEBUG=<DEBUG FLAG - 0 or 1>
ALLOWED_HOSTS=<ALLOWED HOSTS LIKE localhost 127.0.0.1 [::1]>
WEATHER_API=https://api.openweathermap.org/
WEATHER_API_ONECALL=data/2.5/weather?
WEATHER_API_DIRECT=geo/1.0/direct?
WEATHER_API_KEY=<YOUR WEATHER API KEY>
