{% extends "tasks/base.html" %}
{% block content %}
<h2>Tasks TODO list</h2>
<table>
    <tr>
    <th>What</th>
    <th>When</th>
    <th>Done?</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>
                <div class="background {{ task.weather.weather }}">
                    <a href="{% url 'todolist:details' task.id %}">{{ task.name }}</a>
                </div>
            </td>
            <td>{{ task.date|date:"H:i, l, jS F, Y" }}</td>
            {% if task.done %}
                <td>DONE!</td>
            {% else %}
                <td>
                    <form action="{% url 'todolist:complete' task.id %}" method="post">
                        {% csrf_token %}
                        <button type='submit' value='Complete'>Mark as DONE</button>
                    </form>
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">Nothing to do!</td>
        </tr>
    {% endfor %}
</table>
<button>
    <a href="{% url 'todolist:add' %}">
        Add new Task
    </a>
</button>
<form action="{% url 'todolist:clear' %}" method="post">
    {% csrf_token %}
    <button type='submit' value='Clear'>Restart TODO list</button>
</form>
<form action="{% url 'todolist:force_weather_refresh' %}" method="post">
    {% csrf_token %}
    <button type='submit' value='Refresh'>Refresh weather readings</button>
</form>
{% endblock %}
